.modal-body
  div(ng-if='show == "daily"')
    | Daily
    br
    | Double
    br
    br
    div(ng-bind-html='scoreHtml')
  div(ng-bind-html='clue.clue_html', ng-if='show == "clue" && !clue.media')
  div(ng-if='show == "clue" && clue.media')
    carousel(interval="'5000'")
      slide(ng-repeat='slide in clue.media')
        img(ng-src='{{slide}}')
        .carousel-caption(ng-bind-html='clue.clue_text')
  div(ng-bind-html='scoreHtml', ng-if='show == "scores"')
  div(ng-if='id == "clue_FJ"')
    
